*{
    box-sizing: border-box;
}
body::-webkit-scrollbar{
    width: 8px;
    height: 0px;
}
body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color:gray;
}
body::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color:transparent;
}
.header{
    height: 150px;
    width: 100%;
    background-color: rgb(243,73,45);
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.container{
    height: 90px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.logo{
    height: 100%;
    width: 10%;
    
}
.image--logo{
    height: 100%;
    width: auto;
}
.book__search{
    height: 50%;
    width: 50%;
    background-color: white;
}
.search--input{
    height: 100%;
    width: 95%;
    padding: 10px 10px;
    border: none;
}
.icon--search{
    height: 100%;
    width: 5%;
}
.hotline,.user,.cart{
    height: 50%;
    width: 10%;

}
.hotline--click,.user--click,.cart--click{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
}
.account{
    height: auto;
    width: 8rem;
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: none;
    border-radius: 10px;
}
/* .account--options{

} */
.account--options--click{
    text-decoration: none;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
}
.user:hover .account {
    display:block;
}
.account--options--click:hover{
    color: rgb(243,73,45);
}
.user--click:hover, .hotline--click:hover, .cart--click:hover{
    color: rgb(130, 251, 70);
}
/* bill product */
.product--selled{
    height: auto;
    width: 30rem;
    background-color:rgb(255, 255, 255);
    position: absolute;
    left: 20rem;
    display: none;
    border-radius: 10px;
    z-index: 1;
    padding: 10px 0px;
}
.title--cart:hover .product--selled{
    display: block;
    animation-name: change1;
    animation-duration:  1s;
    animation-timing-function:  ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes change1{
    from{
        left: 20rem;
        display: none;
    }
    to{
        left: -20rem;
    }
}
.bill--title{
    color: black;
    text-align: center;
}
.infor--product--bill{
    display: flex;
    flex-wrap: wrap;
    color:black;
    font-size: 14px;

}
.card--infor--bill:nth-child(1){
    height: 2rem;
    width: 40%;
    text-align: center;
}
.card--infor--bill:nth-child(2),
.card--infor--bill:nth-child(3),
.card--infor--bill:nth-child(4){
    height: 3rem;
    width: 20%;
    text-align: center;
}
.product--bill{
    height:10rem ;
    width: 30rem;
    display: flex;
    flex-wrap:wrap ;
}
.image--product--bill{
    height: 5rem;
    width: 40%;
    display: flex;
}
.image--bill{
    height: 100%;
    width: 50%;
    margin: auto;
}
.infor--bill--text{
    color: black;
    font-size: 14px;
}
.bill--product--price,
.bill--product--quantity,
.bill--product--total{
    height: 5rem;
    width: 20%;
    color: black;
    text-align: center;
}


.pay--bill{
    height: 3rem;
    width: 80%;
    margin: auto;
    background-color: red;
    border-radius: 10px;
}
.click--pay{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    font-size: 20px;
    font-family: arial;
    font-weight: 700;
    color:#fff;
    cursor: pointer;
}
.book__row{
    height: 60rem;
    width: 100%;
    background-color: rgb(241,243,246);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    /* border-radius: 10px; */
    padding: 15px 15px;
}
.book__introduce{
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
}
.book__nav{
    height: 100%;
    width: 15%;
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.nav--options{
    height: 12rem;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 0px 5px;
}
.item__big{
width: 100%;
height: 12rem;
display: flex;
flex-direction: row;
flex-wrap:wrap;
margin: 0;
padding:0;
overflow-y: auto;
overflow-x: hidden;
border-radius: 10px;
}
/* style and size cho overflow */
.item__big::-webkit-scrollbar{
    width: 6px;
}
.item__big::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(217, 217, 217);
    height: 3px;
}
.item__big::-webkit-scrollbar-track{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 12rem;
}
/* end */
.nav__item{
    height: 2.5rem;
    width: 100%;
    list-style-type: none;
}
.nav--item--click{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-decoration: none;
    color: black;
    align-items:center;
    justify-content: center;
}
.nav__item:hover{
    background-color: rgba(220, 220, 220, 0.882);
    border-radius: 10px;
}
.nav--none{
    height: 44rem;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    
}
.book__banner__deal{
    height: 100%;
    width: 83%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.book__banner{
    width: 100%;
    height: 30%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
}
.banner--first{
    height: 100%;
    width: 70%;
    border-radius:10px;
    position: relative;
    border-radius: 10px;
}
.image--banner--first{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
}
.image--banner--first:nth-child(1){
    /* animation: banner2 6s ease 0 infinite 0 ; */
    animation-name: banner2;
    animation-duration: 8s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.image--banner--first:nth-child(2){
    /* animation: banner1 6s ease 0 infinite 0 ; */
    animation-name: banner1;
    animation-duration: 8s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes banner1{
    0% { opacity: 1;} 
    49.99% { opacity: 1;}
    50%{ opacity: 0;}
    100% { opacity: 0;}
}
@keyframes banner2{
    0% { opacity: 0;} 
    49.99% { opacity: 0;}
    50%{ opacity: 1;}
    100%{
        opacity: 1;
    }
}
.banner--second{
    height: 100%;
    width:30%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.card--banner--image{
    width: 100%;
    height: 50%;
}
.image--banner--second{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.book__deal{
    height: 70%;
    width: 100%;
    /* background-color: yellow; */
    border-radius: 10px;
    margin-top: 15px;
}
.flash-sale{
    height: 65%;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}
.title--buttom{
    height: 15%;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;

}
.flash-sale--title{
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}
.flash-sale--buttom{
    padding-right: 10px;
}
.buttom--sale{
    height: 80%;
    width: 7rem;
    border: none;
    background-color: rgb(255, 73, 73);
    border-radius: 10px;
}
.buttom--click{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.buttom--sale:hover{
    background-color: red;
}
.flash-sale--product{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    gap: 15px;
    border-radius: 5px;
    overflow-x:auto;
    white-space: nowrap; 
} 
.flash-sale--product::-webkit-scrollbar{
    width: 2px;
    height: 6px;
}
.flash-sale--product::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    width: 10px;
}
.flash-sale--product::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.product-sale{
    height: 96%;
    width: 15rem;
    background-color: rgb(255, 255, 255);
    /* padding: 5px 10px; */
    border-radius: 10px;
}
.product-sale:hover{
    box-shadow: 5px 0px rgba(227, 227, 227, 0.6),
    0px 5px rgba(227, 227, 227, 0.6),
    -5px 0px rgba(227, 227, 227, 0.6),
    0px -5px rgba(227, 227, 227, 0.6);
    transition: 0.3s ease;
    border-bottom:4px solid red;
    scale: 1.03;
}
.product--item{
    height: 70%;
    width: 100%;
    position: relative;
}
.image--product--item{
    width: 100%;
    height: 100%;
    position: absolute;
}
.sale--banner{
    height: 1.5rem;
    width: 6rem;
    color: #fff;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position:absolute;
    top: 10px;
}
.action--cart{
    height: 2.5rem;
    width: 8rem;
    background-color: white;
    color: black;
    position: absolute;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid red;
    bottom: 0rem;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    z-index: 1;
}
.action--cart--click{
    text-decoration: none;
    color: black;
}
.action--cart:hover{
    background-color:rgb(249,76,47);
}
.action--cart--click:hover{
    color: white;
}
.product-sale:hover .action--cart{
    bottom: 10px;
    transition: 0.5s ease;
    opacity: 1;
    
}

.product--title{
    height: 30%;
    width: 100%;
    padding: 10px 5px;
}
.item--title{
    height:60%;
    width: 100%;
}
.item--title--click{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    /* white-space:inherit; */
}
.item--price--sell{
    height: 40%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
}
.item--price{
    color: rgb(255, 0, 0);
    font-size: 19px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.item--sell{
    color: rgb(74, 74, 74);
    font-size: 15px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.voucher{
    height: 30%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
    justify-content: space-between;
    margin-top: 20px;
}
.card--voucher{
    height: 100%;
    width: 18%;
    background-image: url(https://bizweb.dktcdn.net/100/417/638/themes/920069/assets/bg_sv1.jpg?1695181802906);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px 10px;
}
.card--voucher--click{
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-weight: 700;
    font-family: sans-serif;
}
.card--voucher:nth-child(2){
    background-image: url(https://bizweb.dktcdn.net/100/417/638/themes/920069/assets/bg_sv2.jpg?1695181802906);
}
.card--voucher:nth-child(3){
    background-image: url(	https://bizweb.dktcdn.net/100/417/638/themes/920069/assets/bg_sv3.jpg?1695181802906);
}
.card--voucher:nth-child(4){
    background-image: url(	https://bizweb.dktcdn.net/100/417/638/themes/920069/assets/bg_sv4.jpg?1695181802906);
}
.card--voucher:nth-child(4){
    background-image: url(	https://bizweb.dktcdn.net/100/417/638/themes/920069/assets/bg_sv5.jpg?1695181802906);
}
.book__best-seller{
    height: 25rem;
    width: 100%;
    background-color: rgb(241,243,246);
    /* border-radius: 10px; */
    padding: 10px 10px;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.best-seller--product--title{
    height: 100%;
    width: 70%;
    background-color: white;
    border-radius: 10px;
    padding: 10px 10px;
}
.best-seller--title{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.best-seller--product{
    height: 85%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.product--seller{
    height: 96%;
    padding: 5px 5px;
    width: 20%;
}
.best-seller--banner{
    height: 100%;
    width: 27%;
    border-radius: 10px;
}
.book__combo{
    height: 47rem;
    width: 100%;
    padding: 15px 15px;
    background-color: rgb(241,243,246);
}
.combo--title--product{
    height: 25rem;
    width: 100%;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
}
.combo--title{
    height: 15%;
}
.combo--product{
    height: 85%;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-around;

}
.product--combo{
    width: 15%;
}
.product--combo:hover{
    scale: 1.02;
    transition: 0.3 ease;
}
.combo--banner{
    height: 18rem;
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}
.combo--banner--image{
    height: 18rem;
    width: 32%;
}
.image--combo{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.image--combo:hover{
    background-color: transparent;
    opacity: 1;
    scale: 1.02;
    transition: 0.3s ease;
}
.combo2{
    height: 27rem;
}
.combo3{
    height: 28rem;
}
.book__update{
    height: 30rem;
    width: 100%;
    background-color: rgb(241,243,246);
}
.update--infor--news{
    height: 100%;
    width: 100%;
    padding: 15px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.update__infor{
    height: 96%;
    width: 70%;
    background-color: white;
    border-radius: 10px;

}
.update--title{
    height: 15%;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}
.update--infor--content{
    height: 85%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
    justify-content: space-around;
}
.infor--content{
    height: 100%;
    width: 23%;
    border-radius: 10px;
}
.item--infor--image{
    height: 55%;
    width: 100%;
}
.image--update{
    height: 100%;
    width: 100%;
}
.item--infor{
    height: 45%;
    width: 100%;
}
.title--content{
    font-family: Arial, Helvetica, sans-serif;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.title--content--click{
    text-decoration: none;
    color:black
}
.content--text{
    font-family: Arial, Helvetica, sans-serif;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.update__news{
    height: 96%;
    width: 28%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.book__footer{
    height: 36rem;
    width: 100%;
    background-color: rgb(26,33,41);
}
.serve__customer{
    height: 8rem;
    width: 100%;
    border-bottom:1px white solid;
    padding: 15px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.card--serve{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}
.card--serve--click{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color:white ;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content:center;
    align-self: center;
}
.card--serve--click:hover{
    color: red;
}
.company__infor{
    height: 25rem;
    width: 100%;
    padding: 15px 15px;
    display: flex;
    flex-wrap: wrap;
}
.infor--company{
    height: 100%;
    width: 20%; 
    padding: 5px 5px;
}
.logo--company{
    height: 7rem;
    width: 7rem;
    margin: auto;
}
.infor{
    color: white;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.infor--title{
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
/* .infor2{
    
} */
.infor--click{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.card--follow--click{
    text-decoration: none;
}
.infor--click:hover{
    color: red;
}
.infor:hover{
    color: red;
    cursor: pointer;
}
.copyright{
height: 3rem;
width: 100%;
color: white;
background-color: rgb(35,44,53);
display: flex;
align-items: center;
justify-content: center;
}
.copyright--title{
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width:319px){
    .header{
        display: inline-block;
        padding: 5px 5px;
        height: 120px;
    }
    .container{
        display: flex;
        margin:auto;
        
    }
    .number--hotline,.title--user,.title--cart{
        display: none;
    }
    .logo{
        height: 3rem;
        width: 3rem;
        order: 2;
    }
    .book__search{
        height: 2.5rem;
        width: 100%;
        order: 3;
        border-radius: 10px;
        margin: 10px 10px;
    }
    .search--input{
        height: 100%;
        width: 90%;
        border-radius: 10px;
    }
    .icon--search{
      height: 100%;
      width: 10%;
    }
    .fa-solid{
        font-size: 15px !important;
    }
    .hotline,.user,.cart{
        float: left;
        order: 2;
        display: flex;
        align-items: center;
    }
    .account{
        display: none;
    }
    .user:hover .account{
        display: none;
    }
    .book__row{
        height: 51rem;
        width: 100%;
        margin-top: 10px;
        padding: 5px 5px;
    }
    /* .book__introduce{

    } */
    .book__nav{
        display: none;
    }
    .book__banner__deal{
        height: 100%;
        width: 100%;
    }
    .book__banner{
        height: 10rem;
        width: 100%;
        display: block;
    }
    .banner--first{
        height: 5.5rem;
        width: 100%;
    }
    .banner--second{
        height: 4.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .card--banner--image:nth-child(1){
        height: 5rem;
        width: 50%;
        padding: 5px 5px 0 0px !important;
    }
    .card--banner--image:nth-child(2){
        height: 5rem;
        width: 50%;
        padding: 5px 0px 0 5px !important;
    }
    .book__deal{
        height: 40rem;
   
    }
    .flash-sale--buttom{
        display: none;
    }
    .voucher{
        display: flex;
        flex-direction: column;
        overflow-x: auto;
        white-space: nowrap;
        gap: 5px;
    }
    .voucher::-webkit-scrollbar{
        width: 6px;
        height: 6px;
    }
    .voucher::-webkit-scrollbar-thumb{
        background-color: rgb(255, 0, 0);
        border-radius: 10px;
    }
    .voucher::-webkit-scrollbar-track{
        background-color: #ffffff;
        border-radius: 10px;
    }
    .card--voucher{
        width: 80%;
    }
    .book__best-seller{
        height: 34rem;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        padding: 5px 5px;
    }
    .best-seller--product--title{
        height: 20rem;
        width: 100%;
    }
    .best-seller--title{
        height: 3rem;
    }
    .best-seller--product{
        height: 16rem;
        overflow-x: auto;
        white-space: nowrap;
        gap: 5px;
    }
    .best-seller--product::-webkit-scrollbar{
        width: 6px;
        height: 6px;
    }
    .best-seller--product::-webkit-scrollbar-thumb{
        background-color: rgb(255, 0, 0);
        border-radius: 10px;
    }
    .best-seller--product::-webkit-scrollbar-track{
        background-color: #ffffff;
        border-radius: 10px;
    }
    .product--seller{
        width: 50%;
    }
    .best-seller--banner{
        width: 100%;
        height: 14rem;
    }
    .book__combo{
        padding: 5px 5px;
        height: 34rem;
    }
    .combo--title--product{
        height: 20rem;
        margin:0;
    }
    .combo--product{
        overflow-x: auto;
        white-space: nowrap;
        gap: 5px;
    }
    .combo--product::-webkit-scrollbar{
        width: 6px;
        height: 6px;
    }
    .combo--product::-webkit-scrollbar-thumb{
        background-color: rgb(255, 0, 0);
        border-radius: 10px;
    }
    .combo--product:-webkit-scrollbar-track{
        background-color: #ffffff;
        border-radius: 10px;
    }
    .product--combo{
        width: 50%;
    }
    .combo--banner{
        height: 12rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow-x: auto;
        white-space: nowrap;
        gap: 10px;
        margin: 0;
    }
    .combo--banner::-webkit-scrollbar{
        width: 6px;
        height: 6px;
    }
    .combo--banner::-webkit-scrollbar-thumb{
        background-color: rgb(255, 0, 0);
        border-radius: 10px;
    }
    .combo--banner:-webkit-scrollbar-track{
        background-color: #ffffff;
        border-radius: 10px;
    }
    .combo--banner--image{
        width: 20rem;
        height: 10rem;
    }
    .image--combo{
        height: 100%;
        width: 20rem;
    }
    .combo2,.combo3{
        height: 20rem;
    }
    .book__update{
        height: 25rem;
        padding: 5px 5px;
    }
    .update--infor--news{
        height: 25rem;
        padding: 0;
    }
    .update__infor{
        display: none;
    }
    .update__news{
        width: 100%;
    }
    .book__footer{
        height: 88rem;
    }
    .serve__customer{
        display: nonE;
        padding: 0;
        height: 20rem;
    }
    .card--serve{
        width: 100%;
    }
    .company__infor{
        height: 85rem;
        display: block;
    }
    .infor--company{
        width: 100%;
        height: 15rem;
    }
}
@media screen and (min-width:320px) and (max-width:479px){
    .header{
        display: inline-block;
        padding: 5px 5px;
        height: 120px;
    }
    .container{
        display: flex;
        margin:auto;
        
    }
    .number--hotline,.title--user,.title--cart{
        display: none;
    }
    .logo{
        height: 3rem;
        width: 3rem;
        order: 2;
    }
    .book__search{
        height: 2.5rem;
        width: 100%;
        order: 3;
        border-radius: 10px;
        margin: 10px 10px;
    }
    .search--input{
        height: 100%;
        width: 90%;
        border-radius: 10px;
    }
    .icon--search{
      height: 100%;
      width: 10%;
    }
    .fa-solid{
        font-size: 15px !important;
    }
    .hotline,.user,.cart{
        float: left;
        order: 2;
        display: flex;
        align-items: center;
    }
    .account{
        display: none;
    }
    .user:hover .account{
        display: none;
    }
    .book__row{
        height: 57rem;
        width: 100%;
        margin-top: 10px;
        padding: 5px 5px;
    }
    /* .book__introduce{

    } */
    .book__nav{
        display: none;
    }
    .book__banner__deal{
        height: 100%;
        width: 100%;
    }
    .book__banner{
        height: 15rem;
        width: 100%;
        display: block;
    }
    .banner--first{
        height: 8rem;
        width: 100%;
    }
    .banner--second{
        height: 7rem;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .card--banner--image:nth-child(1){
        height: 7rem;
        width: 50%;
        padding: 5px 5px 0 0px !important;
    }
    .card--banner--image:nth-child(2){
        height: 7rem;
        width: 50%;
        padding: 5px 0px 0 5px !important;
    }
    .book__deal{
        height: 40rem;
   
    }
    .flash-sale--buttom{
        display: none;
    }
    .voucher{
        display: flex;
        flex-direction: column;
        overflow-x: auto;
        white-space: nowrap;
        gap: 10px;
        height: 33%;
        padding: 0;
        margin-top: 10px;
    }
    .voucher::-webkit-scrollbar{
        width: 6px;
        height: 6px;
    }
    .voucher::-webkit-scrollbar-thumb{
        background-color: rgb(255, 0, 0);
        border-radius: 10px;
    }
    .voucher::-webkit-scrollbar-track{
        background-color: #ffffff;
        border-radius: 10px;
    }
    .card--voucher{
        width: 80%;
    }
    .book__best-seller{
        height: 41rem;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        padding: 5px 5px;
    }
    .best-seller--product--title{
        height: 21rem;
        width: 100%;
    }
    .best-seller--title{
        height: 3rem;
    }
    .best-seller--product{
        height: 16rem;
        overflow-x: auto;
        white-space: nowrap;
        gap: 5px;
    }
    .best-seller--product::-webkit-scrollbar{
        width: 6px;
        height: 6px;
    }
    .best-seller--product::-webkit-scrollbar-thumb{
        background-color: rgb(255, 0, 0);
        border-radius: 10px;
    }
    .best-seller--product::-webkit-scrollbar-track{
        background-color: #ffffff;
        border-radius: 10px;
    }
    .product--seller{
        width: 50%;
    }
    .best-seller--banner{
        width: 100%;
        height: 18rem;
    }
    .book__combo{
        padding: 5px 5px;
        height: 32rem;
    }
    .combo--title--product{
        height: 20rem;
        margin:0;
    }
    .combo--product{
        overflow-x: auto;
        white-space: nowrap;
        gap: 5px;
        display: flex;
        justify-content: flex-start;
    }
    .combo--product::-webkit-scrollbar{
        width: 6px;
        height: 6px;
    }
    .combo--product::-webkit-scrollbar-thumb{
        background-color: rgb(255, 0, 0);
        border-radius: 10px;
    }
    .combo--product:-webkit-scrollbar-track{
        background-color: #ffffff;
        border-radius: 10px;
    }
    .product--combo{
        width: 50%;
    }
    .combo--banner{
        height: 10rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow-x: auto;
        white-space: nowrap;
        gap: 10px;
        margin: 10px 0 0 0;
        padding: 0;
        
    }
    .combo--banner::-webkit-scrollbar{
        width: 6px;
        height: 6px;
    }
    .combo--banner::-webkit-scrollbar-thumb{
        background-color: rgb(255, 0, 0);
        border-radius: 10px;
    }
    .combo--banner:-webkit-scrollbar-track{
        background-color: #ffffff;
        border-radius: 10px;
    }
    .combo--banner--image{
        width: 20rem;
        height: 10rem;
    }
    .image--combo{
        height: 100%;
        width: 20rem;
    }
    .combo2,.combo3{
        height: 21rem;
    }
    .book__update{
        height: 25rem;
        padding: 5px 5px;
    }
    .update--infor--news{
        height: 25rem;
        padding: 0;
    }
    .update__infor{
        display: none;
    }
    .update__news{
        width: 100%;
    }
    .book__footer{
        height: 88rem;
    }
    .serve__customer{
        display: nonE;
        padding: 0;
        height: 20rem;
    }
    .card--serve{
        width: 100%;
    }
    .company__infor{
        height: 85rem;
        display: block;
    }
    .infor--company{
        width: 100%;
        height: auto;
    }
}
@media screen and (min-width:480px) and (max-width: 599px){
    .header{
        display: inline-block;
        padding: 5px 5px;
        height: 120px;
    }
    .container{
        display: flex;
        margin:auto;
        
    }
    .number--hotline,.title--user,.title--cart{
        display: none;
    }
    .logo{
        height: 3rem;
        width: 3rem;
        order: 2;
    }
    .book__search{
        height: 2.5rem;
        width: 100%;
        order: 3;
        border-radius: 10px;
        margin: 10px 10px;
    }
    .search--input{
        height: 100%;
        width: 90%;
        border-radius: 10px;
    }
    .icon--search{
      height: 100%;
      width: 10%;
    }
    .fa-solid{
        font-size: 15px !important;
    }
    .hotline,.user,.cart{
        float: left;
        order: 2;
        display: flex;
        align-items: center;
    }
    .account{
        display: none;
    }
    .user:hover .account{
        display: none;
    }
    .book__row{
        height: 57rem;
        width: 100%;
        margin-top: 10px;
        padding: 15px 30px;
    }
    /* .book__introduce{

    } */
    .book__nav{
        display: none;
    }
    .book__banner__deal{
        height: 100%;
        width: 100%;
    }
    .book__banner{
        height: 15rem;
        width: 100%;
        display: block;
    }
    .banner--first{
        height: 8rem;
        width: 100%;
    }
    .banner--second{
        height: 7rem;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .card--banner--image:nth-child(1){
        height: 7rem;
        width: 50%;
        padding: 5px 5px 0 0px !important;
    }
    .card--banner--image:nth-child(2){
        height: 7rem;
        width: 50%;
        padding: 5px 0px 0 5px !important;
    }
    .book__deal{
        height: 40rem;
   
    }
    .flash-sale--buttom{
        display: none;
    }
    .voucher{
        display: flex;
        flex-direction: column;
        overflow-x: auto;
        white-space: nowrap;
        gap: 5px;
    }
    .voucher::-webkit-scrollbar{
        width: 6px;
        height: 6px;
    }
    .voucher::-webkit-scrollbar-thumb{
        background-color: rgb(255, 0, 0);
        border-radius: 10px;
    }
    .voucher::-webkit-scrollbar-track{
        background-color: #ffffff;
        border-radius: 10px;
    }
    .card--voucher{
        width: 80%;
    }
    .book__best-seller{
        height: 40rem;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        padding: 15px 30px;
    }
    .best-seller--product--title{
        height: 21rem;
        width: 100%;
    }
    .best-seller--title{
        height: 3rem;
    }
    .best-seller--product{
        height: 16rem;
        overflow-x: auto;
        white-space: nowrap;
        gap: 5px;
    }
    .best-seller--product::-webkit-scrollbar{
        width: 6px;
        height: 6px;
    }
    .best-seller--product::-webkit-scrollbar-thumb{
        background-color: rgb(255, 0, 0);
        border-radius: 10px;
    }
    .best-seller--product::-webkit-scrollbar-track{
        background-color: #ffffff;
        border-radius: 10px;
    }
    .product--seller{
        width: 50%;
    }
    .best-seller--banner{
        width: 100%;
        height: 18rem;
    }
    .book__combo{
        padding: 15px 30px;
        height: 34rem;
    }
    .combo--title--product{
        height: 20rem;
        margin: 0;
    }
    .combo--product{
        overflow-x: auto;
        white-space: nowrap;
        gap: 5px;
    }
    .combo--product::-webkit-scrollbar{
        width: 6px;
        height: 6px;
    }
    .combo--product::-webkit-scrollbar-thumb{
        background-color: rgb(255, 0, 0);
        border-radius: 10px;
    }
    .combo--product:-webkit-scrollbar-track{
        background-color: #ffffff;
        border-radius: 10px;
    }
    .product--combo{
        width: 50%;
    }
    .combo--banner{
        height: 12rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow-x: auto;
        white-space: nowrap;
        gap: 10px;
        margin: 0;
    }
    .combo--banner::-webkit-scrollbar{
        width: 6px;
        height: 6px;
    }
    .combo--banner::-webkit-scrollbar-thumb{
        background-color: rgb(255, 0, 0);
        border-radius: 10px;
    }
    .combo--banner:-webkit-scrollbar-track{
        background-color: #ffffff;
        border-radius: 10px;
    }
    .combo--banner--image{
        width: 20rem;
        height: 10rem;
    }
    .image--combo{
        height: 100%;
        width: 20rem;
    }
    .combo2,.combo3{
        height: 22rem;
    }
    .book__update{
        height: 25rem;
        padding: 5px 30px;
    }
    .update--infor--news{
        height: 25rem;
        padding: 0;
    }
    .update__infor{
        display: none;
    }
    .update__news{
        width: 100%;
    }
    .book__footer{
        height: 88rem;
    }
    .serve__customer{
        display: nonE;
        padding: 0;
        height: 20rem;
    }
    .card--serve{
        width: 100%;
    }
    .company__infor{
        height: 85rem;
        display: block;
        padding: 5px 30px;
    }
    .infor--company{
        width: 100%;
        height: 15rem;
    }
}
@media screen and (min-width:600px) and (max-width:767px){
    .header{
        display: inline-block;
        padding: 5px 5px;
        height: 120px;
    }
    .container{
        display: flex;
        margin:auto;
        
    }
    .number--hotline,.title--user,.title--cart{
        display: none;
    }
    .logo{
        height: 3rem;
        width: 3rem;
        order: 2;
    }
    .book__search{
        height: 2.5rem;
        width: 100%;
        order: 3;
        border-radius: 10px;
        margin: 10px 10px;
    }
    .search--input{
        height: 100%;
        width: 90%;
        border-radius: 10px;
    }
    .icon--search{
      height: 100%;
      width: 10%;
    }
    .fa-solid{
        font-size: 15px !important;
    }
    .hotline,.user,.cart{
        float: left;
        order: 2;
        display: flex;
        align-items: center;
    }
    .account{
        display: none;
    }
    .user:hover .account{
        display: none;
    }
    .book__row{
        height: 57rem;
        width: 100%;
        margin-top: 10px;
        padding: 15px 30px;
    }
    .book__introduce{
        height: 100%;
        width: 75%;
        margin:auto;
    }
    .book__nav{
        display: none;
    }
    .book__banner__deal{
        height: 100%;
        width: 100%;
    }
    .book__banner{
        height: 15rem;
        width: 100%;
        display: block;
    }
    .banner--first{
        height: 8rem;
        width: 100%;
    }
    .banner--second{
        height: 7rem;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .card--banner--image:nth-child(1){
        height: 7rem;
        width: 50%;
        padding: 5px 5px 0 0px !important;
    }
    .card--banner--image:nth-child(2){
        height: 7rem;
        width: 50%;
        padding: 5px 0px 0 5px !important;
    }
    .book__deal{
        height: 40rem;
    }
    .product-sale{
        width: 13rem;
    }
    .flash-sale--buttom{
        display: none;
    }
    .voucher{
        display: flex;
        flex-direction: column;
        overflow-x: auto;
        white-space: nowrap;
        gap: 5px;
    }
    .voucher::-webkit-scrollbar{
        width: 6px;
        height: 6px;
    }
    .voucher::-webkit-scrollbar-thumb{
        background-color: rgb(255, 0, 0);
        border-radius: 10px;
    }
    .voucher::-webkit-scrollbar-track{
        background-color: #ffffff;
        border-radius: 10px;
    }
    .card--voucher{
        width: 50%;
    }
    .book__best-seller{
        height: 40rem;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        padding: 15px 30px;
    }
    .best-seller--product--title{
        height: 21rem;
        width: 75%;
        margin: auto;
    }
    .best-seller--title{
        height: 3rem;
    }
    .best-seller--product{
        height: 16rem;
        overflow-x: auto;
        white-space: nowrap;
        gap: 5px;
    }
    .best-seller--product::-webkit-scrollbar{
        width: 6px;
        height: 6px;
    }
    .best-seller--product::-webkit-scrollbar-thumb{
        background-color: rgb(255, 0, 0);
        border-radius: 10px;
    }
    .best-seller--product::-webkit-scrollbar-track{
        background-color: #ffffff;
        border-radius: 10px;
    }
    .product--seller{
        width: 35%;
    }
    .best-seller--banner{
        width: 75%;
        height: 18rem;
        margin: auto;
    }
    .book__combo{
        padding: 15px 30px;
        height: 34rem;
    }
    .combo--title--product{
        height: 20rem;
        margin: auto;
        margin-top: 0;
        width: 75%;
        
    }
    .combo--product{
        overflow-x: auto;
        white-space: nowrap;
        gap: 5px;
        display: flex;
        justify-content: flex-start;
    }
    .combo--product::-webkit-scrollbar{
        width: 6px;
        height: 6px;
    }
    .combo--product::-webkit-scrollbar-thumb{
        background-color: rgb(255, 0, 0);
        border-radius: 10px;
    }
    .combo--product:-webkit-scrollbar-track{
        background-color: #ffffff;
        border-radius: 10px;
    }
    .product--combo{
        width: 35%;
    }
    .combo--banner{
        height: 12rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow-x: auto;
        white-space: nowrap;
        gap: 10px;
        margin: 0;
    }
    .combo--banner::-webkit-scrollbar{
        width: 6px;
        height: 6px;
    }
    .combo--banner::-webkit-scrollbar-thumb{
        background-color: rgb(255, 0, 0);
        border-radius: 10px;
    }
    .combo--banner:-webkit-scrollbar-track{
        background-color: #ffffff;
        border-radius: 10px;
    }
    .combo--banner--image{
        width: 20rem;
        height: 10rem;
    }
    .image--combo{
        height: 100%;
        width: 20rem;
    }
    .combo2,.combo3{
        height: 22rem;
    }
    .book__update{
        height: 25rem;
        padding: 5px 30px;
    }
    .update--infor--news{
        height: 25rem;
        padding: 0;
        width: 75%;
        margin: auto;
    }
    .update__infor{
        display: none;
    }
    .update__news{
        width: 100%;
    }
    .book__footer{
        height: 88rem;
    }
    .serve__customer{
        display: nonE;
        padding: 0;
        height: 20rem;
    }
    .card--serve{
        width: 100%;
    }
    .company__infor{
        height: 85rem;
        display: block;
        padding: 5px 30px;
        width: 75%;
        margin: auto;
    }
    .infor--company{
        width: 100%;
        height: 17rem;
    }
}
@media screen and (min-width:768px) and (max-width:1023px){
    .header{
        display: inline-block;
        padding: 5px 5px;
        height: 120px;
    }
    .container{
        display: flex;
        margin:auto;
        
    }
    .number--hotline,.title--user,.title--cart{
        display: none;
    }
    .logo{
        height: 3rem;
        width: 3rem;
        order: 2;
    }
    .book__search{
        height: 2.5rem;
        width: 100%;
        order: 3;
        border-radius: 10px;
        margin: 10px 10px;
    }
    .search--input{
        height: 100%;
        width: 90%;
        border-radius: 10px;
    }
    .icon--search{
      height: 100%;
      width: 10%;
    }
    .fa-solid{
        font-size: 15px !important;
    }
    .hotline,.user,.cart{
        float: left;
        order: 2;
        display: flex;
        align-items: center;
    }
    .account{
        display: none;
    }
    .user:hover .account{
        display: none;
    }
    .book__row{
        height: 60rem;
        width: 100%;
        margin-top: 10px;
        padding: 15px 30px;
    }
    .book__introduce{
        height: 100%;
        width: 100%;
        margin:auto;
    }
    .book__nav{
        display: none;
    }
    .book__banner__deal{
        height: 100%;
        width: 100%;
    }
    .book__banner{
        height: 19rem;
        width: 100%;
        display: block;
    }
    .banner--first{
        height: 9rem;
        width: 100%;
    }
    .banner--second{
        height: 9rem;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .card--banner--image:nth-child(1){
        height: 9rem;
        width: 50%;
        padding: 5px 5px 0 0px !important;
    }
    .card--banner--image:nth-child(2){
        height: 9rem;
        width: 50%;
        padding: 5px 0px 0 5px !important;
    }
    .book__deal{
        height: 40rem;
    }
    .product-sale{
        width: 13rem;
    }
    .flash-sale--buttom{
        display: none;
    }
    .voucher{
        display: flex;
        flex-direction: column;
        overflow-x: auto;
        white-space: nowrap;
        gap: 5px;
    }
    .voucher::-webkit-scrollbar{
        width: 6px;
        height: 6px;
    }
    .voucher::-webkit-scrollbar-thumb{
        background-color: rgb(255, 0, 0);
        border-radius: 10px;
    }
    .voucher::-webkit-scrollbar-track{
        background-color: #ffffff;
        border-radius: 10px;
    }
    .card--voucher{
        width: 50%;
    }
    .book__best-seller{
        height: 22rem;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        padding: 15px 30px;
    }
    .best-seller--product--title{
        height: 21rem;
        width: 100%;
        margin: auto;
    }
    .best-seller--title{
        height: 3rem;
    }
    .best-seller--product{
        height: 16rem;
        overflow-x: auto;
        white-space: nowrap;
        gap: 5px;
    }
    .best-seller--product::-webkit-scrollbar{
        width: 6px;
        height: 6px;
    }
    .best-seller--product::-webkit-scrollbar-thumb{
        background-color: rgb(255, 0, 0);
        border-radius: 10px;
    }
    .best-seller--product::-webkit-scrollbar-track{
        background-color: #ffffff;
        border-radius: 10px;
    }
    .product--seller{
        width: 13rem;
    }
    .best-seller--banner{
        width: 100%;
        height: 18rem;
        margin: auto;
        display: none;
    }
    .book__combo{
        padding: 15px 30px;
        height: 60rem;
    }
    .combo--title--product{
        height: 44rem;
        margin: auto;
        margin-top: 0;
        width: 100%;
        
    }
    .combo--title{
        height: 11%;
    }
    .combo--product{
        /* overflow-x: auto;
        white-space: nowrap;
        gap: 5px;
        display: flex;
        justify-content: flex-start; */
        height: 89%;
        display: grid;
        grid-template-columns: 1fr  1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
    }
    .combo--product::-webkit-scrollbar{
        width: 6px;
        height: 6px;
    }
    .combo--product::-webkit-scrollbar-thumb{
        background-color: rgb(255, 0, 0);
        border-radius: 10px;
    }
    .combo--product:-webkit-scrollbar-track{
        background-color: #ffffff;
        border-radius: 10px;
    }
    .product--combo{
        width: 100%;
    }
    .product--combo:hover{
        scale: 1;
    }
    .combo--banner{
        height: 15rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow-x: auto;
        white-space: nowrap;
        gap: 10px;
        margin: 0;
    }
    .combo--banner::-webkit-scrollbar{
        width: 6px;
        height: 6px;
    }
    .combo--banner::-webkit-scrollbar-thumb{
        background-color: rgb(255, 0, 0);
        border-radius: 10px;
    }
    .combo--banner:-webkit-scrollbar-track{
        background-color: #ffffff;
        border-radius: 10px;
    }
    .combo--banner--image{
        width: 20rem;
        height: 13rem;
    }
    .image--combo{
        height: 100%;
        width: 20rem;
    }
    .combo2,.combo3{
        height: 44rem;
    }
    .book__update{
        height: 26rem;
        padding: 5px 30px;
    }
    .update--infor--news{
        height: 25rem;
        padding: 0;
        width: 100%;
        margin: auto;
        padding: 10px 0px 10px 0px;
    }
    .update__infor{
        display: none;
    }
    .update__news{
        width: 100%;
        height: 100%;
    }
    .book__footer{
        height: 54rem;
    }
    .serve__customer{
        display: none;
        padding: 0;
        height: 20rem;
    }
    .card--serve{
        width: 100%;
    }
    .company__infor{
        height: 52rem;
        display: block;
        padding: 5px 30px;
        width: 100%;
        margin: auto;
    }
    .infor--company{
        width: 100%;
        height: auto;
    }
    .infor--company:not(:nth-child(1)){
        width: 50%;
        height: auto;
        float: left;
    }
    .infor--company:nth-child(4){
        float: right;
    }
}
@media  screen and (min-width:1024px) {
    .book__search{
        width: 40%;
    }
    .hotline, .user, .cart{
        width: 14%;
    }
    .book__footer{
        height: 32rem;
    }
    .serve__customer{
        height: 7rem;
    }
    .company__infor{
        height: 22rem;
    }
}