*{
    box-sizing: border-box;
}
body::-webkit-scrollbar{
    width: 8px;
    height: 0px;
}
body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color:gray;
}
body::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color:transparent;
}
.header{
    height: 150px;
    width: 100%;
    background-color: rgb(243,73,45);
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.container{
    height: 90px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.logo{
    height: 100%;
    width: 10%;
    
}
.image--logo{
    height: 100%;
    width: auto;
}
.book__search{
    height: 50%;
    width: 50%;
    background-color: white;
}
.search--input{
    height: 100%;
    width: 95%;
    padding: 10px 10px;
    border: none;
}
.icon--search{
    height: 100%;
    width: 5%;
}
.hotline,.user,.cart{
    height: 50%;
    width: 10%;
}
.hotline--click,.user--click,.cart--click{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
}
.account{
    height: auto;
    width: 8rem;
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: none;
    border-radius: 10px;
    position:absolute;
}
/* .account--options{

} */
.account--options--click{
    text-decoration: none;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
}
.user:hover .account {
    display:block;
}
.account--options--click:hover{
    color: rgb(243,73,45);
}
.user--click:hover, .hotline--click:hover, .cart--click:hover{
    color: rgb(130, 251, 70);
}
/* bill product */
.cart--click:hover span {
    color: rgb(130, 251, 70);
}
.cart--click{
    display: flex;
    text-decoration: none;
}
.title--cart{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.icon--cart{
    padding: 5px 5px;
    color: #ffffff;
    text-decoration: none;
    position: relative;
}
#number--product{
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: #000000;
    height: 20px;
    width: 20px;
    border-radius: 50% 50%;
    text-align: center;
    left: 0px;
    top: -10px;
    font-weight: 700;
}
.product--selled{
    height: auto;
    width: 100%;
    background-color: rgb(245,245,245);
    border-radius: 10px;
    z-index: 1;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
}
/* .bill--title{
    color: black;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
} */
.infor--product--bill{
    height: 3rem;
    display: flex;
    flex-wrap: wrap;
    color:black;
    background-color: #fff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    order: 1;
}
.card--infor--bill:nth-child(1){
    width: 25%;
    text-align: center;

}
.card--infor--bill:nth-child(2),
.card--infor--bill:nth-child(3),
.card--infor--bill:nth-child(4),
.card--infor--bill:nth-child(5){
    width: 16%;
    text-align: center;
}
.card--infor--bill:nth-child(6){
    width: 11%;
    text-align: center;
}
.product--bill{
    height:auto ;
    width: 100%;
    display: flex;
    flex-wrap:wrap ;
    gap: 0px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;   
    order: 2;
}
.image--product--bill{
    height: 7rem;
    width: 25%;
    display: flex;
    border-bottom: 1px solid rgb(186, 186, 186);
}
.image--bill{
    height: 100%;
    width: 50%;
    margin: auto;
    padding: 2px;
}
.infor--bill--text{
    color: black;
    font-size: 14px;
}
.bill--product--price,
.bill--product--quantity,
.bill--product--total,
.name--product{
    width: 16%;
    height: 7rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(186, 186, 186);
   /* word-wrap: break-word; */
   white-space: normal;
   /* overflow: hidden; */
   text-overflow: ellipsis;
   /* -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; */
}

.remove--product{
    height: 7rem;
    width: 11%;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-bottom: 1px solid rgb(186, 186, 186);
}
.minus,.plus{
    height: 1rem;
    width: 1rem;
    padding: 0;
    text-align: center;
    margin: 2px 2px;
}
.infor--bill{
    display: flex;
    width: 100%;
}
.bill--table{
    height: 15rem;
    width: 80%;
    margin: auto;
    display: flex;
    margin: 10px 0px 10px 0px;
    background-color: #fff;
    padding: 3px 3px;
    
}
@supports ((position: -webkit-sticky) or (position:sticky)) {
    .product--pay--sell{
        height: 10rem;
        width: 80%;
        margin: auto;
        position: -webkit-sticky;
        position: sticky;
        z-index: 2;
        bottom: 0;
        order: 3;
        background-color: #fff;
        box-shadow: 0px -2px 4px rgb(204, 204, 204);
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        grid-template-rows:1fr 1fr 1fr ;
        padding: 5px 5px;
        margin-top: 5px;
    }
}
.total--product--selled{
    height: 3rem;
    width: 100%;
    color: black;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    grid-column-start: 2;
    grid-row-start: 3;
}
.pay--bill{
    height: 3rem;
    width: 100%;
    margin: auto;
    background-color: red;
    border-radius: 10px;
    grid-column-start: 3;
    grid-row-start: 3;
}
.click--pay{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    font-size: 20px;
    font-family: arial;
    font-weight: 700;
    color:#fff;
    cursor: pointer;
}
.voucher{
    font-size: 19px;
    grid-column-start: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    grid-column-start: 1;
    grid-column-end: 4;
    border-top: 1px dashed rgba(0,0,0,0.09);
    grid-row-start: 2;
}
.line:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 4;
    border-top: 1px dashed rgba(0,0,0,0.09);
    grid-row-start: 3;
}
.point{
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 3;
    grid-row-start: 2;
}
.text--point{
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 2;
    grid-row-start: 2;    
}